@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

:root{
    padding: 0;
    border: 0;
    margin: 0;
    --cute:'Supermercado One';
    scroll-behavior: smooth;
}

body{
    background-image: url(./asset/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;	
}

header{
    font-family: var(--cute);
    text-align: center;
}

header h2{
    color: rgb(78, 76, 76);
}

.btnbox{
    height: 200px;
    position: relative;
    font-family: var(--cute);
    color:#4b64c1;
    font-size: 3em;
}

button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:170px;
    height: 70px;

    background:white;
    border: 0px;
    border-radius: 20px;
    box-shadow: 23px 12px 51px -17px rgb(255, 145, 237);
    transition:0.5s
}

button:hover{
    box-shadow: 23px 12px 51px -17px rgb(247, 0, 255);
}

.slide img{
    display: block;
    margin: 100vh auto 40vh auto;
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 23px 12px 51px -17px rgb(236, 48, 205);
    transition:2s;
}

.slide img:hover{
    width: 50%;
}

.playerbox{
    position: fixed;
    display: block;
    top: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.player{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 70%;
    cursor: pointer;
    transition:1s;
}

.player:hover{
    opacity: 100%;
}

footer p{
    margin: auto;
    text-align: center;
    color:white;
    font-family: "consolas";
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
    .slide img{
        width:70%;
    }
    .slide img:hover{
        width: 80%;
    }
}