@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


.theme-light {
    --text-header: #00266c;
    --text-header2: #ff6e7d;
    --text-header3: #3d679a;
    --text-primary: #150222;
    --text-secondary: rgba(21, 2, 34, 0.75);
    --text-tertiary: rgba(21, 2, 34,.6);
    --text-quaternary: rgba(21, 2, 34,.38);
    --white-primary: #FAFAFA;
    --white-secondary: #40a4ce;
    --white-tertiary: #fdcbc5;
} 


html{
    font-size: 18px;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
}

header{
    background-color: var(--text-header2);
    width: 70px;
    height: 70px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    top: 3%;
    left: 5%;
    cursor: pointer;
    transition: 0.5s;
}

header:hover{
    box-shadow: 5px 5px 14px 2px rgb(253, 203, 197)
}

header .material-symbols-rounded{
    margin: 15px;
    color: var(--white-primary);
    font-size: 40px;
    display: block;
    transition: .5s;
}

header .material-symbols-rounded:active{
    transform: rotateY(360deg);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    overflow: hidden;
}

.infobox{
    display: block;
    overflow: scroll;
    scrollbar-width: none;
    margin: 30px 20px 0px;
    height: 80%;
    max-height: 700px;
    /* border: yellow solid 5px; */
    max-width: 380px;
    min-width: 230px;
}

.infobox h3{
    display: block;
    color: var(--text-header);
    font-size: 2rem;
    text-align: right;
    margin: 0px 2px;
}

.infobox h1{
    font-size: 2.3rem;
    color: var(--text-header2);
    margin: 5px 15px 0px;
}

.infobox h2{
    font-size: 1.5rem;
    color: var(--text-header);
    margin: 5px 15px 0px;
}

.infobox p{
    font-size: 1rem;
    font-family: 'mulish';
    font-weight: 600;
    color: var(--text-primary);
    margin: 5px 15px 0px;
    text-align: justify;
}


h1, h2, h3{
    font-family: 'Quicksand';
    font-weight: 900;
    letter-spacing: 0px;
}

#nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--white-primary);
    border: 10px solid var(--white-tertiary);
    white-space: pre-line;
    visibility: hidden;
}

#nav .material-symbols-rounded{
    font-size: 30px;
    margin: 10px 10px 0px 85%;
    color: var(--text-header);
    cursor: pointer;
}

#nav a {
    padding: 23px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Quicksand';
    color: var(--text-primary);
    display: block;
    transition: 0.3s;
}

#nav a:hover {
    color: var(--text-tertiary);
}

.authorbox{
    display: flex;
    margin: 0px;
    border: 10px solid var(--white-secondary);
    box-sizing: border-box;
    width: 100%;
    max-height: 250px;
    overflow: scroll;
    scrollbar-width: none;
}

.authorbox img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.5s;
}

.authorbox img:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.authorbox h2{
    margin: 50px 15px;
}

.titlebox{
    border: 10px solid var(--text-header3);
    box-sizing: border-box;
    width: 100%;
    max-height: 320px;
    overflow: scroll;
    scrollbar-width: none;
}

.comicbox{
    margin: 0px 15px;
    box-sizing: border-box; 
    min-width: 230px;
    max-width: 460px;
    width: 95%;
    /* border: var(--text-header2) solid 10px; */
}

.comicbox .comic {
    background-color: var(--text-header);
    padding: 5px;
    width: 95%;
    white-space: nowrap;
    overflow: auto;
    /* scrollbar-width: none; */
}




.comic::-webkit-scrollbar-track{
	background-color: var(--white-tertiary);
}

.comic::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.comic::-webkit-scrollbar-thumb{
    background-color: var(--text-header2);
    border-radius: 10px;
}


.comic img {
    padding: 5px;
    max-width: 500px;
    width: 97%;
    height: 95%;
}

@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    html{
        font-size: 15px;
    }

    body{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    main{
        display: block;
        margin-bottom: 100px;
    }

    header{
        bottom: 90%;
        right: 90%;
        scale: 1.1;
    }
}