@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&family=Inter&family=Josefin+Sans:wght@500&family=Noto+Sans+SC:wght@900&family=ZCOOL+KuaiLe&display=swap');
/* font
josefin sans (headings)
indie flower (handwritng)
inter        (paragraph)
fredoka one  (round)
zcool kuaile (cute bc)
noto sans sc (bc headings)
*/

body{
    padding: 0;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow: overlay;
}

#banner{
    position: absolute;
    display: block;
    top: 10%;
    text-align: center;
    margin: auto;
}

#banner h1{
    margin: 3vh 25vw 0px 25vw;
    font-size: 5rem;
    font-family: noto sans sc;
    color: rgb(83, 83, 83);
    border-right: solid 5px rgba(0, 0, 0, 0.322);
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 6s linear 0s 1 normal both, animated-cursor 600ms linear infinite;
    animation-iteration-count: infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 630px;}
}

@keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.103);}
    to{border-right-color: transparent;}
}

#banner h3{
    margin: 20px 25vw 0px 42vw;
    color: rgb(197, 197, 197);
    font-family: zcool kuaile;
}

header{
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    top: 25px;
    margin: 60vh 25% 0px 20%;
    height: 50px;
    width: 60%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.521);
    box-shadow: 1px 5px 7px rgb(223, 216, 216);
}

header img{
    position: absolute;
    margin-left: 90%;
    margin-top: 6px;
    width: 50px;
    height: 70%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
}

header input{
    position: absolute;
    display: block;
    width: 70%;
    height: 100%;
    font-family: "Fredoka One";
    font-size: 16px;
    color: rgb(0, 0, 0);
    background: none;
    border: 0;
    outline: 0;
    margin: 0px 0px 0px 70px;
    border-radius: 6px;
    box-sizing: border-box;
}

header ion-icon{
    position: absolute;
    font-size: 2rem;
    color: rgb(192, 192, 192);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

header .searchicon{
    margin: 10px 0px 0px 10px ;
}

header .homeicon{
    margin: 10px 0px 0px 89%;
}

main{
    padding-top: 10vh;
    padding-bottom: 10px;
}

#maintopic,h2,h3,p{
    font-family: Josefin Sans;
    margin-left: 23vw;
    margin-right: 23vw;
    text-align: justify;
}

#maintopic{
    font-size: 3rem;
    color: rgb(34, 34, 34);
}


h2{
    font-size: 1.2rem;
}

p{
    margin-bottom: 50px;
    color: rgb(101, 108, 128);
    font-family: inter;
    font-size: 0.8rem;
    line-height: 1.8;
}



















.like{
    position: fixed;
    top: 40%;
    left: 5%;
    margin: 10px;
    font-size: 1.6rem;
    color: rgb(182, 182, 182);
    cursor: pointer;
    transition: 0.5s;
}

.like:hover{
    color: red;
}

.like a{
    position: fixed;
    top: 42%;
    padding: 2px 0px 0px 12px;
    color: rgb(189, 189, 189);
    font-family: indie flower;
    font-size: 1rem;
    font-weight: 900;
}

.share{
    position: fixed;
    top: 45%;
    left: 5%;
    margin: 10px;
    font-size: 1.6rem;
    color: rgb(182, 182, 182);
    cursor: pointer;
}
.share a{
    position: fixed;
    top: 47%;
    padding: 4px 0px 0px 11px;
    color: rgb(189, 189, 189);
    font-family: indie flower;
    font-size: 1rem;
    font-weight: 900;
}

.share:hover{
    color: rgb(0, 255, 115);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.555);  
    border-radius: 20px;                              
    border: 3px solid rgba(136, 136, 136, 0.555);    
}



























@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    h1, h2, h3 ,h4, p{
        font-family: Josefin Sans;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    p{
        font-family: inter;
    }

    main{
        padding-top: 5vh;
        padding-bottom: 10px;
    }

    #banner{
        display: block;
        top: 5%;
        text-align: center;
        margin: auto;
    }

    #banner h1{
        margin: 20px 10vw 0px 10vw;
        font-size: 2rem;
        text-align: center;
    }
    
    #banner h3{
        margin: 20px 10vw 0px 12vw;
        text-align: center;
    }
    
    header{
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        margin: 25vh 25% 0px 10%;
        width: 80%;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.521);
        box-shadow: 1px 5px 7px rgb(223, 216, 216);
    }

    header input{
        width: 150px;
        margin-left: 50px;
        z-index: -1;
    }

    header .searchicon{
        margin: 10px 0px 0px 5px ;
        font-size: 1.5rem;
    }

    header .homeicon{
        margin: 12px 0px 0px 85% ;
        font-size: 1.5rem;
    }

    header img{
        visibility: hidden;
        margin: 0;
    }

    @keyframes animated-text{
        from{width: 0;}
        to{width: 290px;}
    }
    
    .share, .like{
        visibility: hidden;
    }
}
