@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&family=Inter&family=Josefin+Sans:wght@500&family=Noto+Sans+SC:wght@900&family=ZCOOL+KuaiLe&display=swap');
/* font
josefin sans (headings)
indie flower (handwritng)
inter        (paragraph)
fredoka one  (round)
zcool kuaile (cute bc)
noto sans sc (bc headings)
*/
:root {
    --gold: #fabb18;
    --white: #ffffff;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-image: url(https://wallpapercave.com/wp/wp5178514.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;	
}

header{
    position: relative;
    margin: 40px;
    font-family: josefin sans;
}

header h1{
    color:var(--gold);
    font-size: 2.5rem;
}

.container{
    position: relative;
    display:flex;
    background-color: #ffffff;;
    width: 70%;
    max-width: 80vh;
    min-width: 40vh;
    height:16vh;
    padding: 10px;
    margin: 40px auto;
    border-radius:20px;
    box-shadow: rgba(134, 134, 134, 0.2) 0px 2px 8px 0px;
}

.container .text{
    padding-top: 20px;
    padding-left: 20px;
    width:40%;
}

.container img{
    margin:auto 0px;
    width:100px;
    height:100px;
}

.container h1{
    color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 700;
    font-family: josefin sans;
    font-size: 1.5rem;
    
}

.container p{
    margin-top:20px;
    color:rgb(177, 177, 177);
    font-family: josefin sans;
    font-size: 0.2rem;
    
}

.container button{
    position: absolute;
    background: var(--gold);
    color: white;
    border-radius: 20px;
    margin-top: 0px;
    top:50%;
    left: 75%;
    width: 70px;
    height:50px;
    border:0;
    font-family: josefin sans;
    font-size: 1rem;
    transition: 0.5s;
}

.container button:hover{
    background: #ffb700;
    width: 80px;
}


::-webkit-scrollbar {
    width: 9px;
    margin-right: 50px;
  }
  
::-webkit-scrollbar-thumb {
    
    background-color: #faba1892;  
    border-radius: 20px;                        
}