body{
    padding: 0;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color:#fff3e633;
    overflow-y: hidden;
}

#banner{
    width: 100%;
    height: min-content;
    display: block;
    margin: auto;
    text-align: center;
}

#banner h1{
    border-left:100px solid #fff3e633;
    font-size: 15rem;
    color: rgba(232,97,127,255);
    border-right: solid 5px rgba(251, 163, 175, 0.409);
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 4s linear 0s 1 normal both, animated-cursor 1200ms linear infinite;
    animation-iteration-count: infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 830px;}
}

@keyframes animated-cursor{
    from{border-right-color: rgba(251, 163, 175, 0.6);}
    to{border-right-color: transparent;}
}