@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    --text-primary: #000000;
    --text-secondary: rgba(0, 0, 0, 0.75);
    --text-tertiary: rgba(0, 0, 0, 0.6);
    --text-quaternary: rgba(0, 0, 0, 0.38);
    --white-primary: rgb(255, 255, 255);
    --white-secondary: var(--text-quaternary);  
    --white-tertiary: #f3f6fb;
    --bio-header: #ff6347 ;
    --bio-header2: #ffe4e1;
    --chemistry-header:#24ca9e;
    --chemistry-header2: #dffff2;
    --physics-header: #7b68ee;
    --physics-header2: #eeeefc;
    font-size: 18px;
}

.physics-theme {
    --text-header: var(--physics-header);
    --text-header2: var(--physics-header2);
}

.bio-theme {
    --text-header: var(--bio-header) ;
    --text-header2: var(--bio-header2) ;
}

.chemistry-theme {
    --text-header: var(--chemistry-header);
    --text-header2: var(--chemistry-header2);
}


body{
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    background: var(--white-primary);
    overflow: overlay;
    scroll-behavior: smooth;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px 1px;
    background-color: transparent;
    z-index:2 ;
}

header h1{
    display: flex;
    margin: auto 20px auto auto;
    padding-right: 50px;
    text-align: right;
}

ion-icon{
    z-index: 0;
}

.btn{
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    width: 170px;
    height: 45px;
    margin: 0px 0 50px;
    border: 3px solid var(--text-header);
    border-radius: 10px;
    background-color: var(--text-header2);
    color: var(--text-header);
    font-family: 'josefin sans';
    font-weight: 500;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

.btn p{
    margin: auto 10px;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    flex: 0.7;
}

.btn ion-icon{
    font-size: 2.5rem;
    transition: 0.7s;
    padding: 5px;
    flex:0.3 ;
    min-width: 20px;
}

.btn:hover ion-icon{
    transform: rotate(-90deg);
}


main{
    font-family:'poppins';
    color: var(--text-primary);
    width: 80%;
    max-width: 110vh;
    min-width: 30vh;
    box-sizing: border-box; 
    height:min-content;
    padding: 0px 20px;
    margin: 100px auto 200px;
}

.def{
    font-family:'poppins';
    color: var(--text-primary);
    max-width: 80vh;
    min-width: 20vh;
    background-color: #f8f8f8;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    height:min-content;
    padding: 30px;
    margin: 20px auto 80px;
    transition: 1s;
    white-space: pre-line;
}

.def:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--white-primary);
}

.suggestion{
    height: 50px;
    width: 90%;
    border-bottom: var(--white-tertiary) 0.5px solid;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.suggestion ion-icon{
    color: var(--text-header);
    display: block;
    margin: auto;
    padding: 0;
}

.suggestion button{
    background-color: var(--text-header2);
    margin: auto 20px 10px auto;
    font-size: 20px;
    border-radius: 20px;
    border: 0px none;
    color: var(--text-header);
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
    cursor: pointer;
}


.suggestion:hover button{
    transform: rotate(360deg);
    background-color: var(--white-primary);
}

.suggestion:hover{
    background-color: var(--text-header2);
}

.linkbox{
    display: flex;
    padding: 10px 0px;
    overflow-x: scroll;

}

.linkbox::-webkit-scrollbar {
    display: none;
}

.linkbox button{
    display: flex;
    padding: 15px;
    margin: 5px 20px 10px 0;
    background-color: var(--text-header2);
    font-size: 1rem;
    font-family: 'josefin sans';
    font-weight: 600;
    border-radius: 10px;
    border: 3px solid var(--text-header);
    color: var(--text-header);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.5s;
}

.linkbox button:hover{
    background-color: var(--white-primary);
}

.linkbox ion-icon{
    color: var(--text-header);
    display: block;
    margin: auto;
    padding:0 15px 0 0;
}

main h2{
    margin:50px 0px 5px;
    text-transform: capitalize;
}

main hr{
    background-color: var(--white-secondary);
    border: 0 none;
    /* color: var(--white-secondary); */
    height: 1px;
}

main h1{
    font-family: 'josefin sans';
    text-transform: capitalize;
    color: var(--text-header);
    padding-top: 50px;
}

#phonetic{
    position: relative;
    z-index: 3;
}

main strong{
    margin: 20px 0;
    color: var(--text-secondary);
    text-transform: capitalize;
}

main p{
    text-align: justify;
    white-space: pre-line;
    font-size: 1rem;
    margin: 0px;
}

main span{
    color: var(--text-tertiary);
    padding: 0 2px;
}

main em{
    font-style: normal;
    font-weight: 500;
    color: var(--text-header);
    background-color: var(--text-header2);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.41s;
}

main em:hover{
    letter-spacing: 1px;
}

main blockquote{
    color: var(--text-secondary);
    text-align: left;
    border-left: 3px solid var(--white-secondary);
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0px 0px;
    transition: 0.2s;
}

main blockquote:hover{
    border-left: 3px solid var(--text-header);
}

main ol{
    margin: 0;
    padding: 0 0px;
}

main li{
    list-style: decimal;
}

main  li::marker {
    color: var(--text-quaternary);
    font-size: 0.8rem;
}
main .info{
    color: #0e8d94;
}

main .error{
    color: #fe3824;
}

::selection {
    background: var(--text-header2);
}

main img{
    margin: 0px auto;
    width: 80%;
    padding:20px;
    border-radius: 10%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
}

td, th{
    padding: 10px;
    border-bottom: 1px solid var(--text-quaternary);
}

footer{
    display: block;
    position: relative;
    bottom: 0%;
    width: 100%;
    z-index: 0;
    /* background-color: var(--white-tertiary); */
    background-image: radial-gradient( circle 369px at -2.9% 12.9%,  rgba(247,234,163,0.2) 0%, rgba(236,180,238,0.2) 46.4%, rgba(163,203,247,0.2) 100.7% );
}

footer .footerbox{
    display: flex;
    padding: 40px 0px 120px 5%;
}

footer .merriam{
    height: 50px;
    width: 50px;
}

footer p{
    margin: auto 10px;
    color:var(--text-secondary);
    font-family: josefin sans;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: left;
    cursor: pointer;
}


nav{
    width: 100%;
    height: 55px;
    position: fixed;
    display: flex;
    bottom: 0;
    margin-bottom: 10px;
    background: transparent;
    z-index: 1;
    justify-content: center;
}

nav form{
    width: 100%;
    max-width: 65vh;
    min-width: 40vh;
    border-radius: 5px;
    border: 0;
    background: var(--white-primary);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    align-items: center;
    display: flex;
}

nav input{
    font-family: josefin sans;
    font-size: 1.2rem;
    color: var(--text-secondary);
    width: 90%;
    background: transparent;
    border: none;
}

nav ion-icon{
    margin: 15px;
    display: block;
    color: var(--text-quaternary);
    font-size: 1.2rem;
}

nav .cancelbutton{
    border-radius: 50%;
    color: var(--text-tertiary);
    background: var(--white-tertiary);
    width: 24px;
    height: 20px;
    cursor: pointer;
}

nav input:focus{
    caret-color: var(--text-header);
    outline:none;
    appearance: none;
}

nav input::placeholder{
    font-size: 1rem;
    color:var(--text-header);
    opacity: 0.75;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


::-webkit-scrollbar {
    width: 9px;
    margin-right: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(250, 24, 239, 0);  
    border-radius: 20px;                        
}


/* QQ homepage */
.banner h1{
    font-size: 2.5rem;
    font-family: 'Josefin sans';
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    color: var(--text-primary);
}

.banner h1:nth-child(4){
    color:var(--physics-header);
    background-color:var(--physics-header2);
    text-decoration: underline;
}

.banner h1:nth-child(2){
    color: var(--chemistry-header);
    background-color: var(--chemistry-header2);
    text-decoration: underline;
}

.banner h1:nth-child(3){
    color: var(--bio-header);
    background-color: var(--bio-header2);
    text-decoration: underline;
}

.menu{
    display: flex;
    margin: 40px 0;
}

.menu .btn{
    font-size: 30px;
    width: 30%;
    height: 150px;
    margin: 20px 10px;
    /* overflow: hidden; */
}

.menu .btn p{
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 5px;
    font-weight: 600;
}

.menu .btn:nth-child(3){
    background-color: var(--physics-header2);
    color: var(--physics-header);
    border: 3px solid var(--physics-header);
}

.menu .btn:nth-child(1){
    background-color: var(--bio-header2);
    color: var(--bio-header);
    border: 3px solid var(--bio-header);
}


.menu .btn:nth-child(2){
    background-color: var(--chemistry-header2);
    color: var(--chemistry-header);
    border: 3px solid var(--chemistry-header);
}

/* QQ about us */
.avatar{
    border-radius: 50%;
    width: 150px;
    margin-top: 30px;
}

.about h3{
    font-family: 'josefin sans';
    margin: 0;
    color: var(--text-primary);
}

.about h2{
    margin: 70px 0px 10px;
    color: var(--text-secondary);
}

.about p{
    padding: 5px 0px 0px;
}



@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    html{
        font-size: 15px;
    }

    body{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav{
        height: 80px;
    }


    nav form{
        margin-bottom: 5px;
        width:90%;
        min-width: 0px;
    }

    nav input{
        font-size: 1.6rem;
    }
    
    main{
        padding: 10px 7% 300px;
        /* max-width: 100%; */
        width: 100%;
    }
    
    .mobilebutton{
        position: absolute;
        top: 3%;
        left: 65%;
    }

    .contextmenu{ 
        width: 60px;
        height: 40px;
        font-size: 18px;
    }

    .menu .btn{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        height: 200px;
    }
}
